{
    "plugins": [
        ["@babel/plugin-proposal-decorators",{ "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose" : true }],
        "transform-regenerator",
        
    ],
    "presets": ["@babel/preset-env"]
}